@import "mixins.lib.less";
@import "normalize";
@import "essence";
@import "text";
@import "pygments";

html, body {
	height: 100%;
}

body {
	background-color: #fff;

	> header {
		height: 100%;
		text-align: center;
		position: relative;

		> h1 {
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			.transform(translateY(-70%));
		}

		> nav {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			font-size: 0;

			> a {
				display: inline-block;
				padding: 10px;
				margin: 10px;
				font-size: 14px;
				letter-spacing: 2px;
				text-transform: uppercase;
				text-decoration: none;
				color: #bbb;

				&:hover {
					color: #999;
				}
			}
		}
	}

	> main {
		padding: 10%;

		> section {
			.essence();
			margin-bottom: 10% !important;

			pre {
				margin: 0;
			}

			> section {
				.cell(1);
			}

			&.intro {
				text-align: center;

				pre {
					display: inline-block;
					text-align: left;
				}
			}

			&.features {

				> section {
					.cell( (1/3) );
				}
			}

			&.demo {

				> header {
					.cell(1);
				}

				> div {
					text-align: center;
					padding: 2% 0;
					color: #999;
					box-shadow: inset 0 0 0 3px #bbb;

					@media (min-width: 1400px) {
						.cell( (1/12) );
					}

					@media (min-width: 1024px) and (max-width: 1399px) {
						.cell( (1/6) );
					}

					@media (min-width: 768px) and (max-width: 1023px) {
						.cell( (1/4) );
					}

					@media (min-width: 460px) and (max-width: 767px) {
						.cell( (1/3), @breakpoint: 0px );
					}

					@media (max-width: 459px) {
						.cell( (1/2), @breakpoint: 0px );
					}
				}
			}
		}
	}
}
