body {
	color: #666;
	font: 24px/1.5 "Lato";
	font-weight: 300;
}

a {
	text-decoration: none;
	color: inherit;
	opacity: .7;
	position: relative;

	&:hover {
		opacity: 1;

		&::after {
			background-color: #ccc;
		}
	}

	&::after {
		content: "";
		position: absolute;
		top: 100%;
		margin-top: 3px;
		left: 0;
		right: 0;
		height: 1px;
		background-color: #ddd;
		pointer-events: none;
	}
}

.code () {
	font-family: "Ubuntu Mono", "Consolas", monospace;
	background-color: #eee;
	color: #666;
	border-radius: 4px;
	cursor: text;
}

p {
	margin: .5em 0;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	> strong {
		font-weight: 400;
	}

	> code {
		.code();
		padding: 5px 8px;
		margin: -5px 0;
	}

	> small {
		opacity: .5;
		font-size: inherit;
	}
}

pre {
	.code();
	margin: 0;
	padding: 10px 16px;
}

h2 {
	font-size: 5vw;
	line-height: 1;
	font-weight: 100;
	letter-spacing: 2vw;
	padding-left: 2vw;
	text-align: center;
	margin: 2em 0 1em !important;
}
